<!DOCTYPE html>
<html ng-app="checklistsApp">
    <head>
        <meta charset="UTF-8" />
        <title>Advanced Checklists</title>
        
        {# Styles #}
        <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.12/css/aui.min.css" media="all">
        <link rel="stylesheet" href="/public/css/main.css">
        
        {# Initialized checklists data #}
        <script>
            window.checklistsData = {
                checklists: {{ checklistsData | json_encode() | raw }},
                issue_id: {{ issueId | json_encode() | raw }},
                endpoints: {
                    create_checklist: {{ path('checklists-checklist-create', {'projectKey': projectKey, 'issueKey': issueKey}) | json_encode() | raw }},
                    remove_checklist: {{ path('checklists-checklist-remove', {'projectKey': projectKey, 'issueKey': issueKey}) | json_encode() | raw }},
                    update_checklist: {{ path('checklists-checklist-update', {'projectKey': projectKey, 'issueKey': issueKey}) | json_encode() | raw }},
                    order_checklist: {{ path('checklists-checklist-sortable', {'projectKey': projectKey, 'issueKey': issueKey}) | json_encode() | raw }},
                    create_item: {{ path('checklists-item-create', {'projectKey': projectKey, 'issueKey': issueKey}) | json_encode() | raw }},
                    update_item: {{ path('checklists-item-update', {'projectKey': projectKey, 'issueKey': issueKey}) | json_encode() | raw }},
                    remove_item: {{ path('checklists-item-remove', {'projectKey': projectKey, 'issueKey': issueKey}) | json_encode() | raw }},
                    complete_item: {{ path('checklists-item-complete', {'projectKey': projectKey, 'issueKey': issueKey}) | json_encode() | raw }},
                    order_items: {{ path('checklists-item-sortable', {'projectKey': projectKey, 'issueKey': issueKey}) | json_encode() | raw }}
                }
            };
        </script>
        
        {# Load scripts #}
        <script src="{{ baseUrl }}/atlassian-connect/all.js" type="text/javascript"></script>
        <script src="/public/js/app.min.js"></script>
    </head>
    <body>
        <section ng-controller="ChecklistsController as checklistsCtrl" id="checklists" class="ac-content checklists-app">
            
            <div class="new-checklist-wrapper">
                <input placeholder="Checklist name" on-press-esc="checklistsCtrl.toggleNewChecklistForm()" focus-me="checklistsCtrl.newChecklist.editMode" on-press-enter="checklistsCtrl.addNewChecklist()" ng-model="checklistsCtrl.newChecklist.name"  ng-show="checklistsCtrl.newChecklist.editMode"/>
                <a ng-show="!checklistsCtrl.newChecklist.editMode" ng-click="checklistsCtrl.toggleNewChecklistForm()" href="#" class="aui-button"><i class="cl-icon-plus"></i> checklist</a>
            </div>
            
            <div class="error" ng-show="checklistsCtrl.errorOccurred">
                <i class="cl-icon-warning"></i>
                Connection interrupted.
            </div>
            
            <div ui-sortable="checklistsSortableOptions" ng-model="checklistsCtrl.checklists" >
                <div  ng-repeat="checklist in checklistsCtrl.checklists" class="checklists">
                    <div id="checklist-[[ checklist.id ]]" class="checklist-wapper">
                        
                        <div class="header-checklist">
                            <i class="cl-icon-notebook-list"></i>
                            
                            <input ng-show="checklist.editMode" on-press-esc="checklistsCtrl.toggleChecklistEdit( checklist )" on-press-enter="checklistsCtrl.updateChecklist( checklist )" focus-me="checklist.editMode" ng-model="checklist.editName" />
                            <a ng-show="checklist.editMode" class="cl-remove-link" href="#" ng-click="checklistsCtrl.removeChecklist( checklist )">Remove</a>
                            
                            <span ng-show="!checklist.editMode" ng-click="checklistsCtrl.toggleChecklistEdit( checklist )" class="checklist-name">[[ checklist.name ]]</span>
                            
                            <i ng-show="(checklist.editName != checklist.name) && (! checklist.editMode)" title="value is changed but not saved" class="cl-icon-warning"></i>
                        </div>


                        <div ng-class="{complete: checklist.completedPercents == '100%'}" class="progress-checklist">
                            <span class="percent">[[checklist.completedPercents]]</span>
                            <span class="progress-line">
                                <span class="progress-value" style="width: [[checklist.completedPercents]]"></span>
                            </span>
                        </div>
                        
                        <ul class="checklist" ui-sortable="itemsSortableOptions" ng-model="checklist.items">
                            <li ng-repeat="item in checklist.items">
                                <i ng-show="!item.checked" ng-click="checklistsCtrl.completeItem(checklist, item)" class="cl-icon-checkbox-unchecked"></i>
                                <i ng-show="item.checked" ng-click="checklistsCtrl.completeItem(checklist, item)" class="cl-icon-checkbox-checked"></i>
                                
                                <label ng-click="checklistsCtrl.toggleItemEditMode(item, $event)" ng-show="!item.editMode" ng-class="{done: item.checked}" ng-bind-html="item.parsedText"></label>
                                
                                <i ng-show="(item.editText != item.text) && (! item.editMode)" title="value is changed but not saved" class="cl-icon-warning"></i>
                                
                                <input focus-me="item.editMode" on-press-esc="checklistsCtrl.toggleItemEditMode(item)" on-press-enter="checklistsCtrl.updateItem( checklist, item )" ng-show="item.editMode" ng-model="item.editText" />
                                <a href="#" ng-click="checklistsCtrl.removeItem(checklist, item)" ng-show="item.editMode" class="cl-remove-link">Remove</a>
                            </li>
                            <li class="add-new-item-link">
                                <input placeholder="Item name" focus-me="checklist.newItemEditMode" on-press-enter="checklistsCtrl.addNewItem( checklist )" on-press-esc="checklistsCtrl.toggleNeItemEditMode( checklist )" ng-show="checklist.newItemEditMode" ng-model="checklist.newItemText"/>
                                <a href="#" ng-show="!checklist.newItemEditMode" ng-click="checklistsCtrl.toggleNeItemEditMode( checklist )">Add an item...</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
